@import '../base/colores';
@import '../base/extends';


footer {


     @extend %padding;

     background-color: nth($colores, 2);

        
    }
  
.footerdiv {

        @media screen and (max-width: 575px) {
            
        display: none;    
    
        }
    
    
     div .link {

        text-decoration: none;
        color: black;

      


    }
 }

    .footer-title {

        font-size: 1.5rem;
        font-weight: bold;

    }


    div ul li {

        list-style: none;
        line-height: 2.5;

}



