@import 'colores';

%padding {

 padding-top: 50px;
 padding-bottom: 50px;
}

%encabezadosh2 {

    padding:60px;
    background-color:nth($colores , 1) ;
    color:wheat;
    font-size: 4rem;
    font-style: italic;
    text-align: center;
}